h1 {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;
    text-transform: lowercase;
    color: red;
    text-shadow: 5px 1px 10px yellow
}

.bg-image {
    left: 210px;
    top: 198px;
    width: 1000px;
    height: auto;
    overflow: hidden;
}

.recipes {
    position: absolute;
    background-color: hotpink;
    top: 420px;
    left: 25%;
    height: 300px;
    width: auto;
    /* aspect-ratio: 100/29; */
}

.food_pics {
    width: 250px;
}